@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-l3fzcq');
  src:url('../fonts/icomoon.eot?#iefix-l3fzcq') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-l3fzcq') format('woff'),
    url('../fonts/icomoon.ttf?-l3fzcq') format('truetype'),
    url('../fonts/icomoon.svg?-l3fzcq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


.dragObject {
  display: block;
  /*border: 1px solid #aaa;*/
  /*opacity: 0.7;*/
  z-index: 15;
  width: 100px;
  height: 100px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header, 
.sidebar, 
.content, 
.footer 
.menu{
  display: block;
  color: #fff;
}

.header {
  width: 100%;
  height: 64px;
  background: rgba(44, 62, 80, 1);
}
#logo {
  float: left;
  width: 17%;
  height: 100%;
  background: rgba(52, 73, 94, 0.9);
}

#menu-container {
  margin: 0;
  float: right;
  /*background: rgba(52, 73, 94, 0.5);*/
  width: 83%;
}
#menu {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#menu li {
  float: left;
  padding: 15px 0px 10px 0px;
  margin: 0 10px 0 0px;
}
#menu li.blank{
  margin-left: 30px;
}
#menu li a {
  /*display: inline-block;*/
  cursor: pointer;
  padding: 15px 15px;
    /*margin: 10px 0px;*/
  /*margin: 0;*/
  background: none;
  border: 1px solid rgba(44, 62, 80, 1);
  color: #eee;
  font-size: 1em;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#menu li a:hover {
    /*padding: 14px 16px 16px 16px;*/
    color: #fff;
    background: rgba(32, 152, 219,1.0);
    border-radius: 4px;
    /*border: 1px solid #fff;*/
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon:before {
  font-size: 1.6em;
}
  /* Иконки элементов верхнего меню */
.icon-create:before { content: '\e60b';}
.icon-change:before { content: '\e601';}
.icon-delete:before { content: '\e608';}
.icon-rotateLeft:before { content: '\e605';}
.icon-rotateRight:before { content: '\e606';}
.icon-save:before { content: '\e604'; }
.icon-moveUp:before{ content: '\e603';}
.icon-moveDown:before{ content: '\e602';}



.sidebar {
  float: left;
  width: 17%;
  /*width: 220px;*/
  height: 90.4%;
  background: rgba(52, 73, 94, 0.9);
}

.nav-panel{
  /*width: 215px;*/
  margin: auto auto 30px auto;
  text-align: left;
}
.nav-panel label{
  font-family: Arial, sans-serif;
  font-size: 0.95em;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;

  padding: 12px 60px;
  position: relative;
  /*z-index: 10;*/
  display: block;
  height: 30px;
  cursor: pointer;
  color: #fff;
  line-height: 33px;
  background: -moz-linear-gradient(top, #2c3e50 1%,#34495e 100%);
  background: -webkit-linear-gradient(top, #2c3e50 1%,#34495e 100%);
  box-shadow: 
    0px 0px 0px 1px rgba(155,155,155,0.3), 
    0px 0px 0px 0px rgba(255,255,255,0.9) inset, 
    0px 2px 2px rgba(0,0,0,0.1);
}
.nav-panel label:hover{
  background: rgba(32, 152, 219,1.0);
}
.nav-panel input:checked + label,
.nav-panel input:checked + label:hover{
  background: rgba(41, 128, 185,1.0);
  color: #fff;
  box-shadow: 
    0px 0px 0px 1px rgba(155,155,155,0.3), 
    0px 2px 2px rgba(0,0,0,0.1);
}
.nav-panel label:hover:after,
.nav-panel input:checked + label:hover:after{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;  
}
.nav-panel input:checked + label:hover:after{
  background-image: url(../images/arrow_up.png);
}
.nav-panel input{
  display: none;
}
.nav-panel article{
  background: rgba(52, 73, 94, 0.5);
  margin-top: -0px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.nav-panel article p{
  font-style: italic;
  color: #777;
  line-height: 23px;
  font-size: 14px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.nav-panel input:checked ~ article{
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.nav-panel input:checked ~ article.ac-small{ padding-top: 5px; height: 120px; }
.nav-panel input:checked ~ article.ac-medium{ padding-top: 5px; height: 245px; }
/*.nav-panel input:checked ~ article.ac-medium:hover{width: 105%; overflow-y: auto; padding-right: 6px; }*/
.nav-panel input:checked ~ article.ac-large{ padding-top: 5px; padding-bottom: 1px; height: 250px; }
.nav-panel input:checked ~ article.ac-large:hover{ width: 106%; overflow-y: auto;  padding-right: 5px; }


/* Объекты боковой панели */
.nav-panel article .object-container{
  background: rgb(44, 62, 80);
  width: 100px; 
  min-height: 100px;
  max-height: 140px;
  height: auto; 
  padding: 0 3px 0 0;
  float: left;
  margin: 2px 0px 2px 5px; 
}

.nav-panel article > .object-container{
  transition: all 0.3s linear;
  /*opacity: 1;*/
}

.nav-panel article > .object-container:hover{
  /*opacity: 0.7;*/
  background: rgba(32, 152, 219,1.0);
}

.nav-panel article .object{ 
  /*position: relative;*/
  width: 100px; 
  height: 90px; 
  float: left;
  cursor: move;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  /*opacity: 1;*/
}

.nav-panel article .object:hover{
  /*opacity: 0.5;*/
  /*background: rgba(32, 152, 219,1.0);*/
}

.nav-panel article  .label{
  border-bottom: 1px solid rgba(189, 195, 199, 1);
  color: rgba(236, 240, 241,1.0);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 4px;

  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  line-height: 14px;  
}

/* Иконки боковой панели*/
.icon-sidebar:before{
  position: absolute;
  left: 16px;
  top: 14px;

  font-family: 'icomoon';
  font-size: 1.7em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-build:before{ content: '\e600'; }
.icon-tree:before{ content: '\e607'; }
.icon-car:before{ content: '\e60a'; }
.icon-others:before{ content: '\e609'; }

#house1 {background-image: url('../images/housePlan01.png');}
#house2 {background-image: url('../images/housePlan02.png');}
#house3 {background-image: url('../images/housePlan03.png');}
#tree {background-image: url('../images/tree.png');}
#fruitTree {background-image: url('../images/fruitTree.png');}
#floweringTree {background-image: url('../images/floweringTree.png');}
#pool { background-image: url('../images/pool.png');}
#car1, #car2, #car3, #car4 {background-size: 40%;}
#car1 {background-image: url('../images/car1.png');}
#car2 {background-image: url('../images/car2.png');}
#car3 {background-image: url('../images/car3.png');}
#car4 {background-image: url('../images/car4.png');}
#gardenTable {background-image: url('../images/gardenTable.png'); background-size: 90%;}
#gardenBench {background-image: url('../images/bench.png');}
#flower1, #shrub1, #shrub2 {background-size: 60%;}
#flower1 {background-image: url('../images/flower1.png');}
#shrub1 {background-image: url('../images/shrub1.png');}
#shrub2 {background-image: url('../images/shrub2.png');}
#gardenPlot {background-image: url('../images/textures/grass01.jpg'); background-size: 80%;}


.content {
  float: right;
  width: 83%;
  height: 90.4%;
  /*overflow: scroll;*/
  /*background: url('../images/graph-paper.png');*/
}
#container {
  /*float: right;*/
  /*width: 83%;*/
  height: 100%;
  overflow: scroll;
}
/* Стиль рабочей области */
.kineticjs-content {
  margin: auto;
  background-image: url('../images/graph-paper.png');
}
canvas {
  z-index: 20;
}

.footer {
  /*clear: both;*/
  margin-top: 1px;
  height: 5%;
  background: #bbb;
}







/*Диалог выбора тектсур*/
#texture-list{
  display: block;
  /*opacity: 0;*/
  position: absolute;
  overflow: hidden;
  z-index: 100;
  max-width: 240px;
  /*max-height: 260px;*/
  width: 240px;
  height: 0px;
  background: rgba(52, 73, 94, 1);
  /*border-top: 1px solid #fff;*/
  transition: height .3s linear;
}

#texture-list:hover{
  width: 101%;
  overflow-y: scroll;
  padding-right: 17px;
}

#texture-list ul{
  list-style-type: none;
  padding: 0;
  padding-left: 17px;
  /*padding-right: 6px;*/
  padding-bottom: 5px;
}

#texture-list ul > li{
  display:inline-block;
}

#texture-list ul > li div {
  border: 1px solid #fff;
}

#texture-list ul > li div:hover{
  border: 1px solid rgba(32, 152, 219,1.0);
  cursor: pointer;
  padding: 0;
}
 
.sprite-grassicon01, .sprite-grassicon02, .sprite-grassicon03, .sprite-grassicon04, .sprite-grassicon05, 
.sprite-sandicon01, .sprite-sandicon02, .sprite-sandicon03, .sprite-stoneicon01, .sprite-stoneicon02, 
.sprite-stoneicon03, .sprite-stoneicon04
{ display: block; background: url('../images/textures/icons/textureIcons.jpg') no-repeat; }
 
.sprite-grassicon01 { background-position: -1px -0px; width: 64px; height: 64px; }
.sprite-grassicon02 { background-position: -66px -0px; width: 64px; height: 64px; }
.sprite-grassicon03 { background-position: -131px -0px; width: 64px; height: 64px; }
.sprite-grassicon04 { background-position: -1px -65px; width: 64px; height: 64px; }
.sprite-grassicon05 { background-position: -66px -65px; width: 64px; height: 64px; }
.sprite-sandicon01  { background-position: -131px -65px; width: 64px; height: 64px; }
.sprite-sandicon02  { background-position: -1px -130px; width: 64px; height: 64px; }
.sprite-sandicon03  { background-position: -66px -130px; width: 64px; height: 64px; }
.sprite-stoneicon01 { background-position: -131px -130px; width: 64px; height: 64px; }
.sprite-stoneicon02 { background-position: -1px -195px; width: 64px; height: 64px; }
.sprite-stoneicon03 { background-position: -66px -195px; width: 64px; height: 64px; }
.sprite-stoneicon04 { background-position: -131px -195px; width: 64px; height: 54px; }


#progressDialog{
  width: 83%;
  position: absolute;
  overflow: hidden;
  z-index: 110;
  height: 0px;
  /*background: rgba(32, 152, 219,1.0);*/
  transition: height .2s linear;
}

progress[value]::-webkit-progress-bar {
  background: #ccc;
}

progress[value]::-webkit-progress-value {
  background: rgba(32, 152, 219,1.0);
}

#progressDialog progress {
  background: rgba(32, 152, 219,0);
  width: 100%;
  height: 20px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;  
}
